

/* Nav Button */

.nav-button {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Helvetica;
  font-weight: bold;
  color: #717171;
  font-size: 20px;
  padding: 11px 16px;
  margin: 0;
  text-decoration: none;
  background-color: white;
  border: none;
}

.nav-button:hover {
  background: #e6e6e6;
  text-decoration: none;
}

/* Nav Text Input */

input {
    border: none;
    background: #e6e6e6;
    border-radius: 25px;
    font-family: Helvetica;
    font-weight: bold;
}

/* lil image in nav */

.lilimage {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.profile_main {
  border: 1px solid black;
  height: 100%;
}

.profile_pic {
  height: 100%;
  width: 100%;
  border: 1px solid black;
  border-radius: 100%;
  padding: 0;
}

.profile_bio {
  height: 50%
}

.profile_username {
 font-size: 3rem;
 font-weight: bold;
 padding: 0;
}

.profile_bio {

}

.profile_main_img {
      border-radius: 60%;
      width: 300px;
      height: 300px;
  }

.profile-h1-name {
    font-size: 80px;
    color: #555555;
    font-weight: bold;
}

.profile-bio-text {
    color: #555;
    letter-spacing: -.4px;
    font-size: 14px;
}