/* Nav */


/* Nav Button */

.nav-button {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Helvetica;
  font-weight: bold;
  color: #717171;
  font-size: 1rem;
  padding: 11px 16px;
  margin: 0;
  text-decoration: none;
  background-color: white;
  border: none;
}

.nav-button:hover {
  background: #e6e6e6;
  text-decoration: none;
}

/* Nav Text Input */

.nav-search-bar {
    border: none;
    background: #e6e6e6;
    border-radius: 5px;
    font-family: Helvetica;
    width: 50%;
    height: 45px;
    padding: .5rem 1rem;
}

/* lil image in nav */

.lilimage {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}